$dark_background: #222222;
$light_background: #dbdbdb;
$font_family: Roboto;

html, body {
  margin: 0;
  padding: 0;

  font-family: $font_family;

  height: 100%;
}

#content {
  padding-top: 30px;

  height: 100%;
  width: 100%;
}

div#status {
  position: fixed;
  left: 0;
  z-index: 0;

  margin: 0px;
  padding-left: 310px;

  width: 100%;
  height: 30px;

  font-family: $font_family;
  font-size: 14px;
  font-weight: 300;

  background-color: $light_background;

  p {
    margin: 0px;
    padding-top: 7px;
  }

}

nav {
  position: fixed;
  z-index: 2;

  background-color: $dark_background;

  width: 80px;
  min-height: 30px;

  padding: 0px;
  margin: 0px;

  border-bottom-right-radius: 10px;

  .nav_item {
    display: block;
    color: #ffffff;

    text-align: left;

    font-style: none;
    font-weight: normal;
    font-size: 16px;

    &:hover {
      text-shadow: 0px 0px 3px #ffffff;
    }
  }

  #nav_current {
    padding: {
      top: 5px;
      bottom: 5px;
      right: 15px;
      left: 15px;
    }
  }

  #nav_list {
    padding: {
      top: 5px;
      bottom: 5px;
      right: 10px;
      left: 10px;
    }
  }
}

#player {
  background-color: $dark_background;
}

@import 'player';
@import 'playlist';
