html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  height: 100%; }

#content {
  padding-top: 30px;
  height: 100%;
  width: 100%; }

div#status {
  position: fixed;
  left: 0;
  z-index: 0;
  margin: 0px;
  padding-left: 310px;
  width: 100%;
  height: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  background-color: #dbdbdb; }
  div#status p {
    margin: 0px;
    padding-top: 7px; }

nav {
  position: fixed;
  z-index: 2;
  background-color: #222222;
  width: 80px;
  min-height: 30px;
  padding: 0px;
  margin: 0px;
  border-bottom-right-radius: 10px; }
  nav .nav_item {
    display: block;
    color: #ffffff;
    text-align: left;
    font-style: none;
    font-weight: normal;
    font-size: 16px; }
    nav .nav_item:hover {
      text-shadow: 0px 0px 3px #ffffff; }
  nav #nav_current {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px; }
  nav #nav_list {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px; }

#player {
  background-color: #222222; }

div#player {
  position: fixed;
  left: 0px;
  z-index: 1;
  padding-left: 80px;
  padding-right: 20px;
  background-color: #222222;
  border-bottom-right-radius: 100px;
  width: 200px;
  height: 30px; }

#player-controls {
  padding: 0px;
  margin: 0px; }
  #player-controls img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    margin-right: 0px; }

#playlist {
  display: block;
  float: right;
  width: 100%; }
  #playlist div#breadcrumbs {
    background-color: #dbdbdb; }
    #playlist div#breadcrumbs button.breadcrumb {
      height: 25px;
      min-width: 40px;
      max-width: 60px; }
    #playlist div#breadcrumbs input#breadcrumb-text {
      width: calc(100% - 220px); }
  #playlist ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #playlist ul li {
      padding: 5px; }
      #playlist ul li label {
        font-family: Roboto Condensed;
        font-size: 16px; }
        #playlist ul li label input[type=checkbox] {
          margin-right: 5px; }
      #playlist ul li:nth-child(2n) {
        background-color: #eeeeee; }

.playlist-item img {
  width: 12px;
  height: 12px; }
