#playlist {
  display: block;
  float: right;
  width: 100%; }
  #playlist div#breadcrumbs {
    background-color: #dbdbdb; }
    #playlist div#breadcrumbs button.breadcrumb {
      height: 25px;
      min-width: 40px;
      max-width: 60px; }
    #playlist div#breadcrumbs input#breadcrumb-text {
      width: calc(100% - 220px); }
  #playlist ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #playlist ul li {
      padding: 5px; }
      #playlist ul li label {
        font-family: Roboto Condensed;
        font-size: 16px; }
        #playlist ul li label input[type=checkbox] {
          margin-right: 5px; }
      #playlist ul li:nth-child(2n) {
        background-color: #eeeeee; }

.playlist-item img {
  width: 12px;
  height: 12px; }
