div#player {
  position: fixed;
  left: 0px;
  z-index: 1;

  padding: {
    left: 80px;
    right: 20px;
  }

  background-color: #222222;
  border-bottom-right-radius: 100px;

  width: 200px;
  height: 30px;
}

#player-controls {
  padding: 0px;
  margin: 0px;

  img {
    width: 24px;
    height: 24px;

    margin: {
      left: 5px;
      right: 0px;
    }
  }
}

