$font_family: Roboto Condensed;

#playlist {
  display: block;
  float: right;

  width: 100%;

  div#breadcrumbs {
    button.breadcrumb {
      height: 25px;
      min-width: 40px;
      max-width: 60px;
    }

    background-color: #dbdbdb;

    input#breadcrumb-text {
      width:calc(100% - 220px);
    }
  }

  ul {
    margin: 0;
    padding: 0;

    list-style-type: none;

    li {
      padding: 5px;

      label {
        font-family: $font_family;
        font-size: 16px;
        input[type=checkbox] {
          margin-right: 5px;
        }
      }

      &:nth-child(2n) {
        background-color: #eeeeee;
      }
    }

  }

}

.playlist-item img {
  width: 12px;
  height: 12px;
}

