<!DOCTYPE html>
<html>

  <head>
    <title>MPD stream</title>

    <script type="text/javascript" src="{{ url_for("static", filename="javascript/jquery.min.js") }}"></script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename="javascript/player.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="javascript/playlist.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}" type="text/css">
  </head>

  <body>
    <div id="header">

      <nav>
        <label class="nav_item" id="nav_current">Queue</label>
        <div id="nav_list">
          <label class="nav_item" id="nav_queue">Queue</label>
          <label class="nav_item" id="nav_file">File</label>
          <label class="nav_item" id="nav_playlist">Playlist</label>
        </div>
      </nav>

      <div id="player">
        <audio preload="none">
          <source src="{{ listen_server }}:{{ listen_port }}" type="audio/ogg">
        </audio>

        <div id="player-controls">
          <img id="control-connect" src="{{ url_for("static", filename="images/SVG/connection.svg") }}" />
          <img id="control-disconnect" src="{{ url_for("static", filename="images/SVG/connection.svg") }}" />
          <img id="control-play" src="{{ url_for("static", filename="images/SVG/play.svg") }}" />
          <img id="control-pause" src="{{ url_for("static", filename="images/SVG/pause.svg") }}" />
          <img id="control-previous" src="{{ url_for("static", filename="images/SVG/previous.svg") }}" />
          <img id="control-next" src="{{ url_for("static", filename="images/SVG/next.svg") }}" />
        </div>
      </div>

      <div id="actions">
      </div>

      <div id="status">
        <p>---</p>
      </div>
    </div>

    <div id="content">

      <div id="playlist">
        <ul>
          <li><label>No items</label></li>
        </ul>
      </div>

    </div>
  </body>
</html>
